
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

:root {
    --topbottom: #405cf5;
}

html {
    width: 100%;
    height: 100%; 
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr; 
    /* background-color: var(--topbottom); */
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
}

header {
    background-color: var(--topbottom);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-size: 400%;
}

main {
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    font-size: 150%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 5px solid black;
    width: 450px;
    height: 450px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
    margin: auto;
}

#container > div {
    border: 3px solid black;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#container > div:hover {
  border: 3px solid var(--topbottom);
}


button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  margin: auto;

}

button:disabled {
  cursor: default;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--topbottom);
    color: white;
    font-size: 150%;
}

a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

a > div {
  margin-left: 8px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 500%;
}

@keyframes myAnimation {
    0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-5px);
      }
      50% {
        transform: translateX(5px);
      }
      75% {
        transform: translateX(-5px);
      }
      100% {
        transform: translateX(0);
      }
    }

  .animated {
    animation: myAnimation 2s ease-in-out infinite;
  }


  @media (max-width: 500px) {
    #container {
       width: 250px;
       height: 250px;
    }

    .display {
        font-size: 300%;
    }
  }

  @media (min-width:768px) and (max-width: 1024px) {
    #container {
       width: 300px;
       height: 300px;
    }

    .display {
        font-size: 400%;
    }
  }


